<div class="contentWrapper2">
  <img src="../assets/sol_wave_bg.svg" alt="wave" class="wave">
  <div class="row">
    <div class="col card-column1">
      <div class="cardStyle">
        <img src="../../assets/quick-cash.png" alt="icon" class="card-icon">
        <div class="card-heading">
          Quick cash disbursement
        </div>
        <div class="card-description">
          Get terms loans that your business needs within 72 hrs
        </div>
      </div>
      <div class="cardStyle">
        <img src="../../assets/Low interest rate@2x.png" alt="icon" class="card-icon">
        <div class="card-heading">
          Low-interest rate
        </div>
        <div class="card-description">
          Achieve your financial goals with an amazing interest rate starting at 13% per annum
        </div>
      </div>
      <div class="cardStyle">
        <img src="../../assets/zero-paperwork.png" alt="icon" class="card-icon">
        <div class="card-heading">
          Zero Paperwork
        </div>
        <div class="card-description">
          Get started instantly by submitting only your basic details & bank statements
        </div>
      </div>
    </div>
    <div class="col card-column2">
      <div class="cardStyle">
        <img src="../../assets/ace-business.png" alt="icon" class="card-icon">
        <div class="card-heading">
          Ace your business finances
        </div>
        <div class="card-description">
          Manage banking, accounting & everything in between, on one platform
        </div>
      </div>
      <div class="cardStyle">
        <img src="../../assets/Covid@2x.png" alt="icon" class="card-icon">
        <div class="card-heading">
          Loans to fight COVID-19
        </div>
        <div class="card-description">
          Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
        </div>
      </div>
    </div>
    <div class="col content-column3">
      <div class="content1">
        Boost your business with Open
      </div>
      <img src="../../assets/Line 3.svg" alt="line2" class="line2">
      <div class="content2">
        Get your hands on a term loan that’s crafted for your business
      </div>
      <div class="col-button">
        Get an Open Account
      </div>
    </div>
  </div>
</div>
